@inject EmployeeTaskManagementSystemMVC.IServices.IAuthService AuthService
@model List<EmployeeTaskManagementSystemMVC.ViewModels.TaskVM>

<h2>Task List</h2>

@{
    var role = AuthService.GetRole();
}

<a asp-action="Create" class="btn btn-success">Create Task</a>
<a asp-controller="Dashboard" asp-action="Index" class="btn btn-secondary">Back</a>

<br />
<br />

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
            <th>Due Date</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var task in Model)
        {
            <tr>
                <td>@task.Title</td>
                <td>@task.Description</td>
                <td>@task.Status</td>
                <td>@task.DueDate.ToShortDateString()</td>
                <td>
                    <a asp-action="Details" asp-route-id="@task.Id" class="btn btn-info btn-sm">Details</a>
                    <a asp-action="Edit" asp-route-id="@task.Id" class="btn btn-warning btn-sm">Edit</a>

                    @if (role == "Admin")
                    {
                        <a asp-action="Delete" asp-route-id="@task.Id" class="btn btn-danger btn-sm">Delete</a>
                    }
                   
                </td>
            </tr>
        }
    </tbody>
</table>