@model List<EmployeeTaskManagementSystemMVC.ViewModels.UserVM>

<h2>Users</h2>

<a asp-controller="Dashboard" asp-action="Index" class="btn btn-secondary">
    Back
</a>

<br />
<br />

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FullName</td>
                <td>@user.Email</td>
                <td>@user.Role</td>
                <td>
                    <a asp-action="Details"
                           asp-route-id="@user.Id"
                           class="btn btn-info btn-sm">
                        Details
                    </a>

                    <a asp-action="Edit"
                           asp-route-id="@user.Id"
                           class="btn btn-warning btn-sm">
                        Edit Role
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>