@model IEnumerable<First.netAssigmnet.Models.ExamResult>

@{
    ViewData["Title"] = "Index";
}

<h1>Exam_Result</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Marks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Marks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exam.ExamId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.StudentId)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new
                    {
                    ExamId = item.ExamId,
                    StudentId=item.StudentId,
                    CourseId=item.CourseId
                    })
                    |

                    @Html.ActionLink("Details", "Details", new
                    {
                        ExamId = item.ExamId,
                        StudentId = item.StudentId,
                        CourseId = item.CourseId
                    })
                    |

                    @Html.ActionLink("Delete", "Delete", new
                    {
                        ExamId = item.ExamId,
                        StudentId = item.StudentId,
                        CourseId = item.CourseId
                    })
            </td>
        </tr>
}
    </tbody>
</table>
